 <style> 
    
body {
      background-color: teal;
    }
    
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: silver;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

li {
  text-align: center;
  padding: 14px 50px;
  display: block;
  width: 60px;
  text-decoration: none;
  display: inline;
  float: left;
}
li a {
  display: block;
}

li a:hover {
  background-color: #666;
  color: black;
}
    h1 {
      color: silver;
      text-align: center;
      margin-top: 70px;
    }
    
    body {
      background-color: teal;
    }
    
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: silver;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

li {
  text-align: center;
  padding: 14px 50px;
  display: block;
  width: 60px;
  text-decoration: none;
  display: inline;
  float: left;
}
li a {
  display: block;
}

li a:hover {
  background-color: #666;
  color: black;
}
    </style?=>
